.container {
  display: flex;
  flex-direction: column;
}

.calendarPosition {
  position: relative;
}

.calendarWrap {
  overflow: auto hidden;
  /* margin-right: 299px; */
  margin-bottom: 0px;
  /* margin-left: 299px; */
}
