.container {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 66px;
  .cardLineWrap {
    display: flex;
    height: 0px;
    .cardLineBoxRight,
    .cardLineBoxLeft {
      position: sticky;
      left: 0px;
      width: 220px;
      height: 28px;
      margin-top: 2px;
      display: flex;
      align-items: center;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      z-index: 86;
      pointer-events: none;
      .cardLine {
        display: flex;
        align-items: center;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        pointer-events: auto;
        background: rgba(55, 53, 47, 0.45);
        border-radius: 3px;
        border: 1px solid white;
        margin-left: 8px;
        margin-right: 4px;
        opacity: 0;
        transform: scale(0.3);
        transition: transform 160ms ease-in-out 0s, opacity 160ms ease-in-out 0s;
        .cardPoint {
          width: 100%;
          height: 6px;
          display: block;
          fill: white;
          flex-shrink: 0;
          backface-visibility: hidden;
        }
      }
      .cardLineBoxRight {
        position: sticky;
        left: 388px;
        width: 220px;
        height: 28px;
        margin-top: 2px;
      }
    }
  }
  .cardSectionWrap {
    display: flex;
    height: 33px;
    width: 100%;
    cursor: default;
    .cardSection {
      position: absolute;
      left: 4795.85px;
      margin-top: 1px;
      margin-bottom: 1px;
      width: 157px;
      height: 30px;
      border-radius: 4px;
      display: flex;
      background: white;
      // box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px inset,
      //   rgb(15 15 15 / 10%) 0px 1px 2px;
      z-index: 85;
      .cardLink {
        display: block;
        color: inherit;
        text-decoration: none;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        .cardText {
          user-select: none;
          transition: background 20ms ease-in 0s;
          cursor: pointer;
          width: 100%;
          height: 100%;
          display: flex;
          padding-left: 6px;
          padding-right: 6px;
          border-radius: 4px;
        }
      }
      .cardGap {
        position: absolute;
        top: 0px;
        right: -24px;
        width: 24px;
        height: 100%;
        z-index: 1;
      }
      .left {
        position: absolute;
        top: 0px;
        left: -6px;
        width: 8px;
        height: 100%;
        z-index: 1;
        cursor: col-resize;
      }
      .right {
        position: absolute;
        top: 0px;
        right: -6px;
        width: 8px;
        height: 100%;
        z-index: 1;
        cursor: col-resize;
      }
      .whole {
        position: absolute;
        pointer-events: none;
        inset: 0px;
        background: rgba(35, 131, 226, 0.14);
        z-index: 81;
        border-radius: 4px;
        opacity: 1;
      }
    }
    .cardLineTextWrap {
      width: 100%;
      pointer-events: none;
      z-index: 85;
      .cardLineTextBox {
        width: 800px;
        height: 31px;
        padding-left: 6px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 4795.85px;
        overflow: hidden;
        .cardLineText {
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          /* 얼라인 아이템 센터가 안되는데? */
          margin-right: 0px;
          .cardText {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 400px;
          }
        }
      }
    }
  }
}
